<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<div class="container col-sm-9 col-md-7 col-lg-5">
  <p class="txt-header">
    Login
  </p>
  <main>

    <mat-tab-group mat-align-tabs="center">

      <mat-tab label="Sign-in">

        <div class="form1">
          <form>
            <div class="form-group">
              <label for="SignInEmail">Email</label>
              <input [(ngModel)]="signInEmail" class="form-control" id="signInEmail" name="signInEmail" placeholder=""
                     type="email">
              <p *ngIf="signInEmailErrorState" class="alert-primary text-sm-center text-primary p-1 small">
                Invalid User Email !
              </p>
            </div>
            <div class="form-group">
              <label for="SignInPassword">Password</label>
              <input [(ngModel)]="signInPassword" class="form-control" id="signInPassword" name="signInPassword"
                     placeholder="" type="password">
              <p *ngIf="signInPasswordErrorState" class="alert-primary text-sm-center text-primary p-1 small">
                Invalid User Password !
              </p>
            </div>

            <!--            <div class="form-check">-->
            <!--              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">-->
            <!--              <label class="form-check-label" for="defaultCheck1">-->
            <!--                Remember Me-->
            <!--              </label>-->
            <!--            </div>-->
            <button (click)="signIn()" class="btn btn-primary" type="button">Sign-in
            </button>
          </form>
        </div>
        <mat-progress-bar *ngIf="loadingState" class="mt-1" mode="indeterminate"></mat-progress-bar>

      </mat-tab>
      <mat-tab label="Sign-up">
        <div class="form2">
          <form>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="SignUpName">Full Name</label>
              <div class="col-sm-9">
                <input [(ngModel)]="signUpName" class="form-control" id="signUpName" name="signUpName" placeholder=""
                       type="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="SignUpDOB">Date of Birth</label>
              <div class="col-sm-9">
                <input [(ngModel)]="signUpDOB" class="form-control" id="signUpDOB" name="signUpDOB" placeholder=""
                       type="date">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="signUpEmail">Email</label>
              <div class="col-sm-9">
                <input [(ngModel)]="signUpEmail" class="form-control" id="signUpEmail" name="signUpEmail" placeholder=""
                       type="email">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="SignUpPassword">Password</label>
              <div class="col-sm-9">
                <input [(ngModel)]="signUpPassword" class="form-control" id="signUpPassword" name="signUpPassword"
                       placeholder="" type="password">
              </div>
            </div>
            <div style="align-content: space-around; width:100%;">
              <button (click)="signUp()" class="btn btn-primary" type="button">Sign up</button>
            </div>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </main>
</div>
</body>
</html>

